<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="BrowserSupport">
      <section name="Browsers" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
    <sectionGroup name="White">
      <section name="Core" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <!-- Application Location parameters -->
    <add key="WpfAppLocation" value="\WPF\EventAggregation.exe"/>
    <add key="WpfAppProcessName" value="EventAggregation"/> 

    <!-- Browser Path and process parameters -->
    <add key="IEPartialPath" value="\\Internet Explorer\\iexplore.exe"/>
    <add key="FirefoxPartialPath" value="\\Mozilla Firefox\firefox.exe"/>
    <add key="SafariPartialPath" value="\\Safari\Safari.exe"/>
    <add key="IEAppProcessName" value="iexplore"/>
    <add key="FirefoxAppProcessName" value="firefox"/>
    <add key="SafariAppProcessName" value="Safari"/>

    <!-- Time to wait for the application to be launched -->
    <add key="ApplicationLoadWaitTime" value="60000"/>

    <!-- Test Data config files -->
    <add key="TestDataInputFile" value=".\TestData\TestDataInput.resx"/>
    <add key="ControlIdentifiersFile" value=".\TestData\ControlIdentifiers.resx"/>
  </appSettings>

  <!-- Config section for Cross-Browser support -->
  <BrowserSupport>
    <Browsers>

      <add key="InternetExplorer" value="AcceptanceTestLibrary.Common.CrossBrowserSupport.InternetExplorerLauncher"/>
      <!--<add key="FireFox" value="AcceptanceTestLibrary.Common.CrossBrowserSupport.FirefoxLauncher" />
      <add key="Safari" value="AcceptanceTestLibrary.Common.CrossBrowserSupport.SafariLauncher" />-->
    </Browsers>
  </BrowserSupport>

  <White>
    <Core>
      <add key="PopupTimeout" value="30000"/>
      <add key="SuggestionListTimeout" value="30000"/>
      <add key="BusyTimeout" value="30000"/>
      <add key="UIAutomationZeroWindowBugTimeout" value="30000"/>
    </Core>
  </White>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
