<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
   
    <!-- Application Location parameters -->

    <add key="WpfAppLocation" value="\WPF\UIComposition.Shell.exe"/>
  
    <!-- Time to wait for the application to be launched -->
    <add key="ApplicationLoadWaitTime" value="10000"/>

    <!-- Test Data config files -->
    <add key="TestDataInputFile" value=".\TestData\TestDataInput.resx"/>
    <add key="ControlIdentifiersFile" value=".\TestData\ControlIdentifiers.resx"/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
