<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <modules>
    <module assemblyFile="ViewSwitchingNavigation.Contacts.dll" moduleType="ViewSwitchingNavigation.Contacts.ContactsModule, ViewSwitchingNavigation.Contacts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ContactsModule" startupLoaded="true" />
    <module assemblyFile="ViewSwitchingNavigation.Email.dll" moduleType="ViewSwitchingNavigation.Email.EmailModule, ViewSwitchingNavigation.Email, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="EmailModule" startupLoaded="true" />
    <module assemblyFile="ViewSwitchingNavigation.Calendar.dll" moduleType="ViewSwitchingNavigation.Calendar.CalendarModule, ViewSwitchingNavigation.Calendar, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="CalendarModule" startupLoaded="true" />
  </modules>
</configuration>
