<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="BrowserSupport">
      <section name="Browsers" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <!-- Application Location parameters -->
    <add key="WpfAppLocation" value="\WPF\StockTraderRI.exe"/>
    <add key="WpfAppProcessName" value="StockTraderRI"/>
    <add key="SilverlightAppLocation" value="\Silverlight\TestPage.html"/>
    
    <!-- Browser Path and process parameters -->
    <add key="IEPartialPath" value="\\Internet Explorer\\iexplore.exe"/>
    <add key="FirefoxPartialPath" value="\\Mozilla Firefox\firefox.exe"/>
    <add key="SafariPartialPath" value="\\Safari\Safari.exe"/>
    <add key="IEAppProcessName" value="iexplore"/>
    <add key="FirefoxAppProcessName" value="firefox"/>
    <add key="SafariAppProcessName" value="Safari"/>
     
    <!-- Time to wait for the application to be launched -->
    <add key="ApplicationLoadWaitTime" value="60000"/>
    
    <!-- Test Data config files -->
    <add key="TestDataInputFile" value=".\TestData\TestDataInput.resx"/>
    <add key="ControlIdentifiersFile" value=".\TestData\ControlIdentifiers.resx"/>

    <!-- Test Data files -->
    <add key="AccountPositionDataFile" value=".\Data\AccountPositions.xml"/>
    <add key="MarketDataFile" value=".\Data\Market.xml"/>
    <add key="MarketHistoryDataFile" value=".\Data\MarketHistory.xml"/>
    <add key="NewsDataFile" value=".\Data\News.xml"/>
    <add key="OrderProcessingFile" value=".\SubmittedOrders.xml"/>
  </appSettings>

  <!-- Config section for Cross-Browser support -->
  <BrowserSupport>
    <Browsers>
      <add key="InternetExplorer" value="AcceptanceTestLibrary.Common.CrossBrowserSupport.InternetExplorerLauncher"/>
      <!--<add key="FireFox" value="AcceptanceTestLibrary.Common.CrossBrowserSupport.FirefoxLauncher" />
      <add key="Safari" value="AcceptanceTestLibrary.Common.CrossBrowserSupport.SafariLauncher" />-->
    </Browsers>
  </BrowserSupport>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
